.App {
  text-align: start;
}

.active{
  border: solid 1px #ff3838;
  background-color: #fa3939;
  border-radius: 0px;
  padding: .2%;
  width: 1.5rem;
  
  color: #e0f0ff;
  text-align: center;
}









